<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>product</title>
</head>
<body>
{% if products %}
    {% if products %}
        <ul>
        {% for product in products %}
            <li><a href="{% url 'product:product_name' %}">{{ product.p_name }}</a></li>
            <li>{{ product.p_price }}</li>
            <li>{{ product.p_introduction }}</li>
            <li>{{ product.p_details }}</li>
            <li>{{ product.p_picture }}</li>
            <li>{{ product.p_category_name }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% elif json_category_obj %}
    {% if json_category_obj %}
        <ul>
        {% for product in json_category_obj %}
            <li><a href="{% url 'product:product_name' %}">{{ product.p_name }}</a></li>
            <li>{{ product.p_price }}</li>
            <li>{{ product.p_introduction }}</li>
            <li>{{ product.p_details }}</li>
            <li>{{ product.p_picture }}</li>
            <li>{{ product.p_category_name }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    <ul>
        {% for product in product_category %}
            <li><a href="{% url 'product:product_name' %}">{{ product.error_number }}</a></li>
            <li>{{ product.error_message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>