<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <title>product</title>
</head>
<body>
{% if products %}
    {% if products.all != None %}
        <ul>
            {% for product in products %}
                <li>{{ product.p_name }}</li>
                <li>{{ product.p_price }}</li>
                <li>{{ product.p_introduction }}</li>
                <li>{{ product.p_details }}</li>
                <li>{{ product.p_picture }}</li>
                <li>{{ product.p_category_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li>error_number: {{ category_obj.error_number }}</li>
            <li>error_message: {{ category_obj.error_message }}</li>
        </ul>
    {% endif %}
{% elif category_obj %}
    {% if category_obj.all != None %}
        <ul>
            {% for product in category_obj %}
                <li>{{ product.p_name }}</li>
                <li>{{ product.p_price }}</li>
                <li>{{ product.p_introduction }}</li>
                <li>{{ product.p_details }}</li>
                <li>{{ product.p_picture }}</li>
                <li>{{ product.p_category_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li>error_number: {{ category_obj.error_number }}</li>
            <li>error_message: {{ category_obj.error_message }}</li>
        </ul>
    {% endif %}
{% endif %}
</body>
</html>